name: Docker Build and Push

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  packages: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '18'

      - run: npm install
      - run: npm test


  build-and-push:
    needs: test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # 提前准备一个变量 —— 取 Git Commit 的前 7 位（生产环境最常用）
      - name: Extract short SHA
        id: vars
        run: echo "sha_short=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true

          # ======  动态版本管理核心代码  ======
          # 推送 latest（总是最新构建的版本）
          # 同时推送一个唯一 tag：<commit前7位>
          # 这可以保证版本可追踪、可回滚、可对比
          tags: |
            ghcr.io/goodgirl9925/ci-cd-practice:latest
            ghcr.io/goodgirl9925/ci-cd-practice:${{ steps.vars.outputs.sha_short }}
